@import "tailwindcss";

@theme{
    --color-primary: #04ABA5;
    --color-primary-light: #e6f7f7;
    --color-primary-lighter: #f0fdfa;
    --color-primary-dark: #0d9488;
    --color-secondary: #22c55e;
    --color-secondary-hover: #3AD775;
}   